.menu{
  margin: 20px;
}
.menu .btn{
  color: #000;
  padding: 5px 7px;
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  border: none;
}

.menu .btn::after{
  content: '';
  transition: .5s;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.menu .btn:hover::after{
  background-color: #000;
}